/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-sep-2018, 22:35:10
    Author     : Frank Bustamante
*/

#root{
    -fx-background-image: url("file:src/inventario/view/fondolog.jpg") ;
    -fx-background-repeat: space;   
    -fx-background-size: 960 686;
    -fx-background-position: center center;   
    -fx-alignment: center;
}

#paneMain{
    -fx-background-color: rgba(0, 0, 0, 0.8);
    -fx-background-size: 1000 806;
}

#paneButtons{
    -fx-background-color: transparent;
    -fx-translate-x: 220;
    -fx-translate-Y: 440;
    -fx-alignment: CENTER;
}

/*#f36*/
Button{
    -fx-cursor: CLOSED_HAND;
    -fx-translate-y:20;
    -fx-text-fill: white;
    -fx-font-size: 13px;
    -fx-font-style: normal;
    -fx-font-family: Segoe UI Semibold;
    -fx-background-radius: 20;
    -fx-border-color: #f36;
    -fx-border-radius: 20;
    -fx-background-color: transparent;
    -fx-min-width:150;
    -fx-min-height:35;
}

Button:hover{
    -fx-background-color:#f36;
}

#frase{
    -fx-translate-x: 75;
    -fx-translate-y: 260;
    -fx-text-fill:white;
    -fx-font-size:35;
    -fx-font-width:700;
    -fx-font-family: "Segoe UI Semibold";
}

#br{
    -fx-font-size: 40px;
}

#btBack{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 12;
    -fx-border-color:transparent;
    -fx-translate-x:0;
    -fx-translate-y:0;
}

#btBack:hover{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 16;
}

#paneForm{
    -fx-alignment: center;
    -fx-translate-x: 240;
    -fx-translate-y: 176;
    -fx-background-color: rgba( 0, 2, 44,0.7);
    -fx-padding: 10;
    -fx-min-width: 350;
    -fx-min-height: 350;
}


#btLog{
    -fx-translate-y: 50;
}

#txtPass, #txtUser{
    -fx-font-size: 18;
    -fx-min-width: 160;
    -fx-min-height: 30;
    -fx-background-radius: 110;
    -fx-text-fill: white;
    -fx-background-color: rgba(39,39,46,1);
}


