/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24-sep-2018, 6:37:17
    Author     : Frank Bustamante
*/
/*
#root{
    -fx-background-color: white;
    -fx-pref-height: 600;
    -fx-pref-width: 600;
}
*/
/*
#paneTop{
    -fx-alignment: CENTER;
}*/

Button{
    -fx-translate-y:20;
    -fx-text-fill: #f36;
    -fx-font-size: 13px;
    -fx-font-style: normal;
    -fx-font-family: Segoe UI Semibold;
    -fx-background-radius: 20;
    -fx-border-color: #f36;
    -fx-border-radius: 20;
    -fx-background-color: transparent;
    -fx-min-width:150;
    -fx-min-height:35;
}

Button:hover{
    -fx-background-color:#f36;
    -fx-text-fill:white;
}



TableView{
    -fx-translate-y: 160;    
}



